
@helper PrintBookInfo()
{
foreach (ModelMetadata property in ViewData.ModelMetadata.Properties)
{
    if (property.PropertyName != "Id")
    {
            <div class="form-group edit__block">
                <label>@(property.DisplayName ?? property.PropertyName)</label>
                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
            </div>
    }
        @Html.ValidationMessage(property.PropertyName)
}
}